---
import Section from "./Section.astro";

type Experience = {
  title: string;
  company: string;
  from: string;
  to: string;
  description: string;
  url: string;
};

const experinces: Experience[] = [
  {
    company: "nutima",
    title: "Frontend Developer",
    from: "Feb 2022",
    to: "Feb 2023",
    description:
      "I mostly worked as a front-end developer with Vue.js in the “Dukkan Senin” project with Pepsi and developed a project with my team using technologies such as Storybook and Strapi as side projects.",
    url: "https://nutimacode.com/",
  },
  {
    company: "Manim Finans",
    title: "Software Developer",
    from: "Dec 2021",
    to: "Feb 2022",
    description:
      "I adapted to an ongoing project with Angular.js and Node.js in a brief time and contributed to the development process.",
    url: "https://www.manim.com.tr/en/",
  },
  {
    company: "Rakamon Medya",
    title: "Frontend Developer",
    from: "Jun 2021",
    to: "Dec 2021",
    description:
      "The main theme of which brings the freelancer and the employer together, and then I developed the front side myself using with Nuxt.js and supported the back side using Node.js.",
    url: "http://www.rakamonmedya.com.tr/",
  },
  {
    company: "Freelancer",
    title: "Software Developer",
    from: "Oct 2019",
    to: "Present",
    description:
      "Builded and contributed to web, mobile, desktop applications for clients and projects of mine.",
    url: "https://onuranil.dev",
  },
];
---

<Section title="Work Experience">
  <ul>
    {
      experinces.map((item) => (
        <li>
          <h4>
            <a href={item.url} target="_blank">
              {item.company}
            </a>
            <small>{item.title}</small>
            <small>
              {item.from} - {item.to}
            </small>
          </h4>
          <p>{item.description}</p>
        </li>
      ))
    }
  </ul>
</Section>

<style scoped>
  ul {
    padding-left: 0px;
  }

  p {
    color: var(--color-secondary);
    line-height: 24px;
    font-size: 1rem;
  }

  small {
    margin-left: 10px;
    color: var(--color-secondary);
  }
</style>
